<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css">
    <style>
        .button{
            font-weight: bold;
        }
        .card-divider {
            font-weight: bold;
        }
    </style>
    <script src="/js/cadesplugin_api.js"></script>
</head>
<body>
<div class="grid-container">
    @RenderBody()
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/site.js"></script>
</body>
</html>